:host {
	.button-wrapper {
		border-radius: 0.25rem;

		&.primary {
			background-color: var(--color-primary);
			color: var(--color-white);

			&:hover {
				background-color: var(--color-primary-hover);
			}
		}

		&.secondary {
			background-color: var(--color-secondary);
		}
	}
}