<div class="main-wrapper p-3">
	<h3 class="page-title">Carrinho</h3>
	<div
		class="text-center"
		*ngIf="!shoppingCart.products.length">
		<span>Não há itens no seu carrinho.</span>
	</div>
	<div
		class="cart-product mb-3 d-flex"
		*ngFor="let product of shoppingCart.products">
		<img
			[src]="product.imageUrl"
			class="cart-product__image">
		<div class="cart-product__info ml-3 right-spacing">
			<h3 class="cart-product__info__name">{{ product.name }}</h3>
			<p class="cart-product__info__id"><span>Código {{ product.id }}</span></p>
		</div>
		<div class="cart-product__buy d-flex align-center right-spacing">
			<h4 class="cart-product__buy__total">Total: {{ product.price * (product.amount || 1) | currency:'BRL':'symbol-narrow':'0.2-2':'pt-BR' }}</h4>
			<p class="cart-product__buy__inStock"><span>Em estoque: {{ product.inStock }}</span></p>
			<app-add-product
				class="cart-product__buy__add"
				[product]="product"></app-add-product>
		</div>
		<div class="cart-product__discount w-100 d-flex align-center">
			<app-discount-label [amount]="product.amount"></app-discount-label>
		</div>
	</div>
</div>
