:host {

	.main-wrapper {

		.page-title {
			margin-top: 0;
		}

		.cart-product {

			$image-size: 10rem;
			&__image {
				width: $image-size;
				height: $image-size;
			}

			&__info, &__buy {
				margin-right: 4.5rem;
			}

			&__info {
				width: 20vw;
			}
			&__buy {
				width: 35vw;
				flex-direction: column;

				&__total {
					margin-bottom: 0;
				}
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;

				&__info, &__buy {
					margin: 0;
					width: calc(50% - (#{$image-size} / 2));
				}

				&__discount {
					width: 100%;
					margin-top: 1rem;
					justify-content: center;
				}
			}

			@media screen and (max-width: 578px) {
				justify-content: center;

				&__info {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				&__info, &__buy {
					width: 100%;
				}
			}
		}
	}
}