:host {
	$image-size: 200px;

	.product-image {
		width: $image-size;
		height: $image-size;
	}

	.product-info {
		width: 60%;
	}

	.buy-product {
		width: 40%;
	}

	@media screen and (max-width: 992px) {
		.product-info,
		.buy-product {
			width: 50%;
		}
	}

	@media screen and (max-width: 768px) {
		.main-wrapper {
			flex-wrap: wrap;

			.product-image__wrapper,
			.product-info,
			.buy-product {
				width: 100%;
			}
		}
	}
}
