<div
	*ngIf="product; else loading"
	class="main-wrapper p-3 d-flex">
	<div
		class="product-image__wrapper d-flex align-center justify-center">
		<img
			[src]="product.imageUrl"
			class="product-image">
	</div>
	<div class="product-info p-3">
		<h2 class="product-info__name">
			<span>{{ product.name }}</span>
		</h2>
		<p class="product-info__id">
			<span>Código {{ product.id }}</span>
		</p>
		<p class="product-info__description">
			<span>{{ product.description }}</span>
		</p>
	</div>
	<div class="buy-product p-3">
		<h3 class="buy-product__price">Comprar por {{ product.price | currency:'BRL':'symbol-narrow':'0.2-2':'pt-BR' }}</h3>
		<h4 class="buy-product__total">Total: {{ product.price * (product.amount || 1) | currency:'BRL':'symbol-narrow':'0.2-2':'pt-BR' }}</h4>
		<p class="buy-product__inStock"><span>Em estoque: {{ product.inStock }}</span></p>
		<app-add-product
			class="buy-product__add d-iblock"
			[product]="product"></app-add-product>
		<app-discount-label
			class="buy-product__discount-label d-block mt-3"
			[amount]="product.amount"></app-discount-label>
	</div>
</div>
<ng-template #loading>
	<span>Carregando informações do produto...</span>
</ng-template>
