<ng-container *ngIf="product">
	<app-button
		*ngIf="!product.amount; else addRemoveRow"
		class="d-block"
		[ngClass]="{ 'add-button--disabled': !product.inStock }"
		(click)="addItem()">
			<span>{{ product.inStock ? '+ Adicionar item' : 'Esgotado' }}</span>
		</app-button>
	<ng-template #addRemoveRow>
		<div
			class="d-flex align-center"
			[title]="'Em estoque: ' + product.inStock">
			<app-button (click)="decreaseItem()">
				<span class="selection-none mx-1">-</span>
			</app-button>
			<span class="mx-1">
				{{ product.amount }}
			</span>
			<app-button
				[ngClass]="{ 'add-button--disabled': product.amount === product.inStock }"
				(click)="addItem()">
				<span class="selection-none mx-1">+</span>
			</app-button>
		</div>
	</ng-template>
</ng-container>