<div
	*ngIf="!amount || amount < 10; else discount"
	class="info-label info-label--discountless p-1"><span>Aviso: Comprar abaixo de 10 itens não tem desconto</span></div>
<ng-template #discount>
	<div class="info-label info-label--discount p-1"><span>Seu desconto aparecerá no checkout</span></div>
</ng-template>
