// classes úteis para estilização rápida
@import 'utils';
// variáveis de cor
@import 'variables';
// definições de fonte
@import 'fonts';
// definições da biblioteca de modal
@import 'modal';

:root {
	body {
		margin: 0 !important;
		padding: 0 !important;
	}

	input {
		@extend .p-2;
	}
}