/**
 * Display
 */
.d-block {
	display: block;
}
.d-flex {
	display: flex;
}
.d-iblock {
	display: inline-block;
}
.d-iflex {
	display: inline-flex;
}

/**
 * Alinhamento
 */
.text-center {
	text-align: center;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.align-center {
	align-items: center;
}

/**
 * Margins
 */
.mb-1 {
	margin-bottom: 0.25rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-3 {
	margin-bottom: 1rem;
}

.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-3 {
	margin-top: 1rem;
}

.mr-1 {
	margin-right: 0.25rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mr-3 {
	margin-right: 1rem;
}

.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.ml-3 {
	margin-left: 1rem;
}

.my-1 {
	@extend .mt-1, .mb-1;
}
.my-2 {
	@extend .mt-2, .mb-2;
}
.my-3 {
	@extend .mt-3, .mb-3;
}

.mx-1 {
	@extend .mr-1, .ml-1;
}
.mx-2 {
	@extend .mr-2, .ml-2;
}
.mx-3 {
	@extend .mr-3, .ml-3;
}

.m-1 {
	@extend .my-1, .mx-1;
}
.m-2 {
	@extend .my-2, .mx-2;
}
.m-3 {
	@extend .my-3, .mx-3;
}

/**
 * Paddings
 */

.pb-1 {
	padding-bottom: 0.25rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pb-3 {
	padding-bottom: 1rem;
}

.pt-1 {
	padding-top: 0.25rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-3 {
	padding-top: 1rem;
}

.pr-1 {
	padding-right: 0.25rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.pr-3 {
	padding-right: 1rem;
}

.pl-1 {
	padding-left: 0.25rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pl-3 {
	padding-left: 1rem;
}

.py-1 {
	@extend .pt-1, .pb-1;
}
.py-2 {
	@extend .pt-2, .pb-2;
}
.py-3 {
	@extend .pt-3, .pb-3;
}

.px-1 {
	@extend .pr-1, .pl-1;
}
.px-2 {
	@extend .pr-2, .pl-2;
}
.px-3 {
	@extend .pr-3, .pl-3;
}

.p-1 {
	@extend .py-1, .px-1;
}
.p-2 {
	@extend .py-2, .px-2;
}
.p-3 {
	@extend .py-3, .px-3;
}

/**
 * Mouse/cursor
 */
.selection-none {
	user-select: none;
}
.cursor-pointer {
	cursor: pointer;
}

/**
 * Tamanho
 */
.w-100 {
	width: 100%;
}