:root {
	--color-primary: #3881f5;
	--color-primary-hover: #82b2ff;
	--color-danger: #ff1212;
	--color-success: #17ff2e;
	--color-secondary: #d3d3d3;
	
	// cores "óbvias", mas utilizaremos variáveis para elas para nos mantermos no padrão
	--color-gray: #808080;
	--color-black: #000000;
	--color-white: #ffffff;
}