<div
	class="main-wrapper"
	[ngClass]="{'main-wrapper--notVisible': loginModal.isVisible && !loginModal.isVisible()}">
	<ngx-smart-modal
		#loginModal
		identifier="loginModal">
		<app-login-modal></app-login-modal>
	</ngx-smart-modal>
</div>