<div class="card-wrapper m-2 p-2">
	<div *ngIf="header">
		<ng-container *ngTemplateOutlet="header"></ng-container>
	</div>
	<div *ngIf="content">
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</div>
	<div *ngIf="footer" class="d-flex justify-end">
		<ng-container *ngTemplateOutlet="footer"></ng-container>
	</div>
</div>
