:host {
	$desktop-side-menu-width: 12.5rem;

	.side-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: $desktop-side-menu-width;
		@media screen and (max-width: 576px) {
			width: 7.5rem;
			transition: 0.3s ease;
			left: var(--mobile-menu-left-alignment);
		}
	}

	@media screen and (min-width: 576px) {
		.main-wrapper {
			width: calc(100% - #{$desktop-side-menu-width});
			margin-left: $desktop-side-menu-width;
		}
	}
}