<div class="main-wrapper p-2">
	<div
		class="mobile-toggle justify-center align-center"
		(click)="toggleSideMenu()">
		<span>
			{{ visible ? '<' : '>' }}
		</span>
	</div>

	<h1 class="title">Loja Teste</h1>
	<h3 class="title title--responsive">Loja Teste</h3>

	<p>
		<span
			class="cursor-pointer"
			[routerLink]="['pages/products/list']">Produtos</span>
	</p>

	<button
		*ngIf="!user.isLoggedIn; else products"
		class="d-block mt-3 py-1 px-3 side-menu__login-button cursor-pointer"
		(click)="openModal()">Entrar</button>
	<ng-template #products>
		<span
			class="cursor-pointer"
			[routerLink]="['pages/shopping-cart']">Carrinho</span>
		<div
			*ngIf="shoppingCart.products.length"
			class="side-menu__products-total ml-1 d-iflex align-center justify-center">
			<span>{{ shoppingCart.getNumberOfProducts() }}</span>
		</div>
	</ng-template>
	
</div>
