.black-bg { background-color: var(--color-black); }
.white-font { color: var(--color-white); }
.round-border { border-radius: 100%; }
.label-black {
	@extend .black-bg, .white-font, .round-border;
	height: 1.5rem;
	width: 1.5rem;
}

:host {
	display: block;

	.main-wrapper {
		background-color: var(--color-secondary);
		min-height: 100vh;
		height: 100%;
		position: relative;

		.side-menu__login-button, .side-menu__products-total, .mobile-toggle {
			@extend .black-bg, .white-font;
		}

		.mobile-toggle {
			@extend .label-black;
			display: none;

			@media screen and (max-width: 576px) {	
				display: flex;
				position: absolute;
				top: 2.9rem;
				right: 0;
				transform: translateX(50%);
			}
		}

		.title {
			margin-top: 0;

			&--responsive {
				display: none;
			}
		}

		.side-menu__login-button {
			border: none;
			font-size: 0.9rem;
		}
		
		.side-menu__products-total {
			@extend .label-black;
		}
	}

	@media screen and (max-width : 576px) {
		.main-wrapper {

			.title {
				display: none;
	
				&--responsive {
					display: inline;
				}
			}
		}
	}
}