<app-card *ngIf="product">
	<ng-template #header>
		<h3
			class="product__header"
			[title]="product.name">{{product.name}}</h3>
	</ng-template>
	<ng-template #content>
		<p class="product__price">Preço: {{product.price || 0 | currency:'BRL':'symbol-narrow':'0.2-2':'pt-BR'}}</p>
	</ng-template>
	<ng-template #footer>
		<app-add-product
			[product]="product"
			class="product__add mr-1"></app-add-product>
		<app-button [routerLink]="['../detail', product.id]">Ver mais</app-button>
	</ng-template>
</app-card>
