<h3 class="text-center">Faça o login</h3>

<span>E-mail</span>
<input
	class="form-input w-100 mb-1"
	name="email"
	type="text"
	[(ngModel)]="email">

<span>Senha</span>
<input
	class="form-input w-100"
	name="password"
	type="password"
	[(ngModel)]="password">

<p
	class="error-message"
	*ngIf="errorMessage">
	<span>{{ errorMessage }}</span>
</p>
<div class="d-flex justify-end buttons-row">
	<app-button
		color="secondary"
		class="mr-2"
		(click)="close()">Cancelar</app-button>
	<app-button (click)="login()">Logar</app-button>
</div>